version: "3.8"

services:

  database:
    image: mariadb:10.5
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: panel
      MYSQL_USER: pterodactyl
      MYSQL_PASSWORD: pterodactyl
    volumes:
      - db_data:/var/lib/mysql

  cache:
    image: redis:alpine
    restart: always

  panel:
    image: ghcr.io/pterodactyl/panel:latest
    restart: always
    command: >
  sh -c "
  apk add --no-cache mysql-client &&
  php-fpm
  "
    depends_on:
      - database
      - cache

    ports:
      - "80:80"

    environment:
      APP_URL: "http://localhost"
      APP_ENV: "production"
      APP_KEY: ""
      APP_TIMEZONE: "UTC"

      DB_HOST: database
      DB_PORT: 3306
      DB_DATABASE: panel
      DB_USERNAME: pterodactyl
      DB_PASSWORD: pterodactyl
      DB_SSL: "false"

      MYSQL_ATTR_SSL_CA: ""
      MYSQL_ATTR_SSL_VERIFY_SERVER_CERT: "false"

      CACHE_DRIVER: redis
      SESSION_DRIVER: redis
      QUEUE_CONNECTION: redis
      REDIS_HOST: cache

volumes:
  db_data:
